.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p, #logo {
    margin-bottom: 0.25rem;
}

p:last-child {
    margin-bottom: 0;
}

#logo {
    height: calc((1.625rem + 4.5vw) * 2);
}

#body {
    width: 100%;
    padding: 0.75rem;
    margin-right: auto;
    margin-left: auto;
    min-width: 20rem;
}

.icon {
    display: inline-block;
    position: relative;
    /*ripped straight from fontawesome*/
    height: 1em;
    vertical-align: -.125em;
}