.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p, #logo {
    margin-bottom: 0.25rem;
}

#logo {
    height: 7rem;
    margin: 0.75rem auto 0;
    display: block;
}

.form-control, .form-control:focus {
    background: var(--bs-secondary);
    color: #ccc;
}